@using EntityLayer.Concrete
@model List<Blog>

				@foreach(var item in Model)
					{
					
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a href="single.html">
									<img src="~/Bloglar/@item.BlogImgurl" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 0 Likes</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> 0 Comments</a>
									</li>
									
								</ul>
							</div>
						</div>

						<h3>
							<a href="single.html">@item.BlogTitle </a>
						</h3>
						<p>@item.BlogContent</p>
						<a href="/Blog/Index/" class="btn btn-primary read-m">Blog Listesi</a>
					</div>
					}
